@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
}

html, body {
    color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    font-family: "Roboto Mono", monospace; 
    font-size: 20px; 
    font-weight: 400; 
    font-weight: bold;
    letter-spacing: 1px; 
    scroll-behavior: smooth;
}

.header {
    width: 100%;
    height: 70px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header i {
    margin: 10px;
    font-size: 34px;
}

.header .a {
    font-size: 18px;
    text-decoration: none;
    border-radius: 30px;
    margin-left: 10px;
    width: 34px;
    padding: 10px;
    background-color: green;
}

.header input {
    border-radius: 30px;
    border-width: 2px;
    font-size: 18px;
    width: 50%;
    height: 34px;
    padding-left: 10px;
}

main {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

main.orange {
    background-color:orange;
}

main.pink {
    background-color: rgb(252, 122, 144);
}

main.slateblue {
    background-color: slateblue;
}

main.orangered {
    background-color: rgb(235, 95, 45);
}

.content {
    width: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 20px;
    
}

.content .container {
    margin-top: 50px;
}
.XYZM {
    font-size: 80px;
    margin-top: 30px;
    background-color: rgba(10, 10, 10, 0.6);
    color: white;
    font-family: 'Balsamiq Sans', cursive;
    text-transform: none;
    letter-spacing: 10px;
}
.m{
    color:red;
}
.a{
    color:rgb(90, 157, 245);
}
.s{
    color:orangered;
}
.t{
    color:greenyellow;
}
.e{
    color:blueviolet;
}
.r{
    color:rgb(4, 255, 171);
}
.y{
    color:plum;
}

.box  {
    width: 150px;
    min-width: 150px;
    height: 50px;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(22, 16, 17);
}

.box p {
    width: 100%;
    text-align: center;
}

.tri {
    font-size: 17px;
}

.container .wrapper {
    display: flex;
    flex-direction: row;
}

.container .img{
    width: 150px;
    min-width: 150px;
    height: 50px;
    min-height: 150px;
    background-color: rgb(22, 16, 17);

}

.box.orange {
    background-color: orange;
}
.box.pink {
    background-color: pink;
}
.box.green {
    background-color:slateblue;
}
.box.orangered {
    background-color: orangered;
}

.container a {text-decoration: none;
    margin-top: 10px;
  margin-left: 25px;
  width: 250px;
  height: 50px;
  background-color:rgb(124, 146, 148);
  font-family: Verdana;
  font-size: 11px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  color: white;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

.container a:hover{
    background-color: rgb(150, 146, 146);
    cursor: pointer;
    scale: 1.1;
}

nav a{
    margin: 50;

}