* {
    margin: 0;
    padding: 0;
}

html, body {
    color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    font-family: "Roboto Mono", monospace; /* Use a monospaced font */
    font-size: 18px; /* Adjust the size as needed */
    font-weight: 400; /* Adjust the weight as needed */
    letter-spacing: 1px; /* Increase letter-spacing for a more futuristic look */
    text-transform: uppercase; /* Transform text to uppercase for a bold appearance */
}


.header {
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header i {
    margin: 10px;
    font-size: 34px;
}

.header .a {
    font-size: 18px;
    text-decoration: none;
    border-radius: 30px;
    margin-left: 10px;
    width: 34px;
    padding: 10px;
    background-color: green;
}

.header input {
    border-radius: 30px;
    border-width: 2px;
    font-size: 18px;
    width: 50%;
    height: 34px;
    padding-left: 10px;
}

main {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('./images/bg.jpg');
}

main.orange {
    background-color: orange;
}

main.pink {
    background-color: pink;
}

main.slateblue {
    background-color: slateblue;
}

main.orangered {
    background-color: orangered;
}

.content {
    width: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
}

.content .container {
margin-top: 40px;
}

.box  {
    width: 300px;
    min-width: 250px;
    height: 300px;
    min-height: 300px;
    background-color: rgb(22, 16, 17);
}

.box.orange {
    background-color: orange;
}
.box.pink {
    background-color: pink;
}
.box.green {
    background-color:slateblue;
}
.box.orangered {
    background-color: orangered;
}

.container a {text-decoration: none;
    margin-top: 30px;
    width: 300px;
    height: 50px;
    background-color: darkgray;
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    color: black;
    transition: background-color 0.3 ease;

}
.container a:hover{
    background-color: gray
}

