.content {
    width: calc(100% - 60px);
    margin: 1x;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-wrapper {
    width: 100%;
    margin-top: 20px;
}

.text-wrapper h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 15px;
}

.text-wrapper h2 {
    font-size: 60px;
    font-weight: 700;
}

.text-wrapper h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    display: flex;
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.link-wrapper {
    width: calc(100% - 30px);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 11px;

}

.link-wrapper a {
    flex-basis: 30%;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-width: 1px;
    padding: 10px;
    border: solid;
}
.link-wrapper a:hover {
    background-color:gray;
    cursor:pointer;
    scale: 1.05;
}
.link-wrapper h3 {
    margin-top: 200px;
    font-weight: 800;
    font-size: 34px;
    margin-bottom: 8px;
}

.wrapper {
    width: calc(100% - 40px);
    height: fit-content;
    margin: 20px;
    gap: 18px;
    display: flex;
    justify-content: center;
    gap: 128px;
    flex-wrap: wrap;
}

.wrapper .box-linkTP {
    width: 150px;
    height: 150px;
    font-size: 35px;
    text-decoration: none;
    color: white;
    background-color: green;
    display: flex;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 10px;
}
.wrapper .box-linkTP:hover{
    background-color: gray;
    cursor: pointer;
    scale: 1.1;
}

.wrapper .box-linkNF{
    width: 200px;
    height: 200px;
    font-size: 34px;
    text-decoration: none;
    color: white;
    background-color: orangered;
    display: flex;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 10px;
}
.wrapper .box-linkNF{
    width: 150px;
    height: 150px;
    font-size: 25px;
    text-decoration: none;
    color: white;
    background-color: rgb(255, 0, 0);
    display: flex;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 10px;
}
.wrapper .box-linkNF:hover{
    background-color: gray;
    cursor: pointer;
     scale: 1.1;
}

.wrapper .box-linkE{
    width: 150px;
    height: 150px;
    font-size: 30px;
    text-decoration: none;
    color: white;
    background-color: rgb(0, 117, 252);
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 10px;
}

.wrapper .box-linkE:hover{
    background-color: gray;
    cursor: pointer;
     scale: 1.1;
}

.wrapper .box-linkVL {
    width: 200px;
    height: 200px;
    font-size: 35px;
    text-decoration: none;
    color: white;
    background-color: green;
    display: flex;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 10px;
}
.wrapper .box-linkVL:hover{
    background-color: gray;
    cursor: pointer;
    scale: 1.1;
}

.wrapper .box-linkPPAA {
    width: 200px;
    height: 200px;
    font-size: 19px;
    text-decoration: none;
    color: white;
    background-color: green;
    display: flex;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 10px;
}
.wrapper .box-linkPPAA:hover{
    background-color: gray;
    cursor: pointer;
    scale: 1.1;
}
.lessons {
    width: 100%;
    background-color: lightskyblue;
}

.about {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(10, 10, 10, 0.5);
}

.about h1 {
    font-size: 48PX;
    display: flex;
    text-align: center;
    margin-bottom: 70px;
    margin-top: 70px;
}

.about p {
    font-size: 24px;
    max-width: 95%;
    font-family: 500;
    text-align: justify;
    padding: 20px;
}

.lessons .title {
    width: calc(100% - 160px);
    font-size: 60px;
    font-weight: 700;
    margin: 80px;
    display: flex;
    justify-content: center;
}

@media (max-width: 400px) {
    .content .wrapper .box {
        flex-basis: 100%;
    }
}