nav {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-style:normal;
}

nav button {    
    font-size: 14px;
    padding: 16px;
    color: black;
    background-color: transparent;
    border: none;
    display: none;
    transition: opacity 0.5s ease, background-color 0.5s ease;
}

nav button:hover {
    cursor: pointer;
    background-color: rgb(189, 181, 181);
    opacity: 0.7;
}

nav div {
    display: flex;
    justify-content: center;
    align-items: center;
}



nav div .user-button img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border-width: 0;
}

nav div a {
    font-size: 18px;
    text-decoration: none;
    padding: 16px;
    color: black;
    transition: opacity 0.5s ease, background-color 0.5s ease;
}

nav div a:hover {
    cursor: pointer;
    background-color: rgb(189, 181, 181);
    opacity: 0.7;
}